In [20]:
# Disable warnings in Anaconda
import warnings
warnings.filterwarnings('ignore')

#Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#For more info on arguments of seaborn.set()
#https://seaborn.pydata.org/generated/seaborn.set.html

#Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'

#Increase the default plot size and set the color scheme
plt.rcParams['figure.figsize'] = (8,5)
#This works as well - plt.rcParams['figure.figsize'] = 8,5
plt.rcParams['image.cmap'] = 'viridis'

import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('data/text_emotion.csv')

In [22]:
data.shape

(40000, 4)

In [23]:
data.head()

,tweet_id,sentiment,author,content
0,1956967341,empty,xoshayzers,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,wannamama,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,coolfunky,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,czareaquino,wants to hang out with friends SOON!
4,1956968416,neutral,xkilljoyx,@dannycastillo We want to trade with someone w...

In [24]:
new_data = data.drop('author', axis =1)

In [25]:
new_data.shape

(40000, 3)

In [26]:
new_data.head()

     tweet_id   sentiment                                            content
0  1956967341       empty  @tiffanylue i know  i was listenin to bad habi...
1  1956967666     sadness  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696     sadness                Funeral ceremony...gloomy friday...
3  1956967789  enthusiasm               wants to hang out with friends SOON!
4  1956968416     neutral  @dannycastillo We want to trade with someone w...

In [27]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
tweet_id     40000 non-null int64
sentiment    40000 non-null object
content      40000 non-null object
dtypes: int64(1), object(2)
memory usage: 937.6+ KB

In [28]:
new_data['sentiment'].nunique()

13

In [63]:
new_data['sentiment'].value_counts()

0             empty
1           sadness
2           sadness
3        enthusiasm
4           neutral
            ...
39995       neutral
39996          love
39997          love
39998     happiness
39999          love
Name: sentiment, Length: 40000, dtype: object

In [64]:
new_data.drop(new_data.sentiment != ['boredom','empty'])

ValueError: Lengths must match to compare

In [ ]:
new_data  = new_data.drop(data[data.sentiment == 'boredom'].index)
new_data  = data.drop(data[data.sentiment == 'enthusiasm'].index)
new_data  = data.drop(data[data.sentiment == 'empty'].index)
new_data  = data.drop(data[data.sentiment == 'fun'].index)
new_data  = data.drop(data[data.sentiment == 'relief'].index)
new_data  = data.drop(data[data.sentiment == 'surprise'].index)
new_data  = data.drop(data[data.sentiment == 'love'].index)
new_data  = data.drop(data[data.sentiment == 'hate'].index)
new_data  = new_data.drop(data[data.sentiment == 'neutral'].index)
new_data  = new_data.drop(data[data.sentiment == 'worry'].index)

In [ ]:
new_data.sentiment.head()

In [42]:
raw_data = pd.read_csv('data/text_emotion.csv', index_col ="sentiment" )

In [43]:
raw_data.head()

,tweet_id,author,content
sentiment,,,
empty,1956967341,xoshayzers,@tiffanylue i know i was listenin to bad habi...
sadness,1956967666,wannamama,Layin n bed with a headache ughhhh...waitin o...
sadness,1956967696,coolfunky,Funeral ceremony...gloomy friday...
enthusiasm,1956967789,czareaquino,wants to hang out with friends SOON!
neutral,1956968416,xkilljoyx,@dannycastillo We want to trade with someone w...

In [44]:
#raw_data.drop(["empty", "neutral"], inplace = True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40000 entries, empty to love
Data columns (total 3 columns):
tweet_id    40000 non-null int64
author      40000 non-null object
content     40000 non-null object
dtypes: int64(1), object(2)
memory usage: 1.2+ MB

In [45]:
raw_data.drop(["empty" , "neutral" ,"love", "surprise", "fun",
              "relief", "hate", "enthusiasm", "boredom", "anger", "worry"], inplace = True)

In [46]:
raw_data.index.nunique()

2

In [48]:
raw_data.index.value_counts()

happiness    5209
sadness      5165
Name: sentiment, dtype: int64

In [49]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10374 entries, sadness to happiness
Data columns (total 3 columns):
tweet_id    10374 non-null int64
author      10374 non-null object
content     10374 non-null object
dtypes: int64(1), object(2)
memory usage: 324.2+ KB

In [65]:
raw_data.reset_index().head()

,sentiment,tweet_id,author,content
0,sadness,1956967666,wannamama,Layin n bed with a headache ughhhh...waitin o...
1,sadness,1956967696,coolfunky,Funeral ceremony...gloomy friday...
2,sadness,1956968487,ShansBee,"I should be sleep, but im not! thinking about ..."
3,sadness,1956969035,nic0lepaula,@charviray Charlene my love. I miss you
4,sadness,1956969172,Ingenue_Em,@kelcouch I'm sorry at least it's Friday?

In [51]:
xyz = new_data['sentiment'].unique()

In [52]:
xyz

array(['empty', 'sadness', 'enthusiasm', 'neutral', 'worry', 'surprise',
       'love', 'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [54]:
ac = new_data[new_data['sentiment'].isin(['happiness','sadness'])]

In [56]:
ac['sentiment'].value_counts()

happiness    5209
sadness      5165
Name: sentiment, dtype: int64